
.home-container {
    background:url('../assests/back4.jpg');
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
    padding: 100px ,0px;
  }
  .services-container{
    padding-top: 200px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
  }

.service-subtitle{
  font-size: 1.5rem;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color: white;
}

/* The rest of your CSS styles remain the same */

  #total-box{
    padding-top: 100px;
    padding-bottom: 300px;
  }
  .home-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Tilt Prism', cursive;
  }
  
  .home-description {
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
  }

  .box-service{
    border: 1px solid white;
    height: 80px;
    width: 250px;
    align-items: center;
    position: relative;
    padding-top: 15px;
    border-radius: 10px;
    text-decoration: none;
  }

  .service-title{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Tilt Prism', cursive;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .box{
    padding-top: 10px;
    height: 10px;
    width: 20px;
    border: 1px solid white;
    position: relative;
    border-radius: 50px;
    animation-name: rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  @keyframes rotation {
    0%   {background-color:rgb(255, 255, 255); left:0px; top:0px; transform: rotate(0deg);}
    16%  {background-color:rgb(255, 255, 255); left:300px; top:0px;transform: rotate(360deg);}
    32%  {background-color:rgb(255, 255, 255); left:300px; top:150px;transform: rotate(0deg);}
    48%  {background-color:rgb(255, 255, 255); left:-300px; top:150px;transform: rotate(360deg);}
    64% {background-color:rgb(255, 255, 255); left:-300px; top:0px;transform: rotate(0deg);}
    100% {background-color:rgb(255, 255, 255); left:0px; top:0px;transform: rotate(360deg);}
  }
  



  
  

  
 
  